# PostgreSQL Database Configuration
POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_HOST=db
DB_PORT=5432

# Django Configuration
DEBUG=True
SECRET_KEY=SECRET_KEY
ALLOWED_HOSTS=localhost,127.0.0.1

# Static and Media files
STATIC_URL=/static/
MEDIA_URL=/media/ 